@model WebApplicationMVC.Models.DegreeModel

@{
    ViewData["Title"] = "Lista Carreras";
    DateTime  fecha = new DateTime (2024,05,20);
}

<h1>@ViewData["Lista de Carreras"]</h1>
<i>@DateTime.Now</> <br>
<i>@fecha.ToLongDateString()</i> <br><br>


<h2 align = "center">Lista de Carreras.</h2>
<table> 
    <tr>
        <th>Carrera</th>
        <th>Tetras</th>
    </tr>
    <tr>
        <td>@Model.Carrera</td>
        <td>@Model.Tetra</td>
        
    </tr>
</table>
<br><br>
<div id="Image" align = "center">
    <img src="~/imagenes/profesores.jpg" width="500" height="300"  />
</div>
