@model WebApplicationMVC.Models.ProfesorModel
@{
    ViewData["Title"] = "Lista Profesores";
    DateTime  fecha = new DateTime (2024,05,20);
}

<h1>@ViewData["Lista de Profesores"]</h1>
<i>@DateTime.Now</> <br>
<i>@fecha.ToLongDateString()</i> <br><br>


<h2 align = "center">Lista de Profesores.</h2>
<a asp-controller="Profesor" asp-action="ProfesorAdd" class ="btn btn-primary mb-3">Agregar Maestro</a>

<div class="row">
    <table> 
    <tr>
        <th>Nombre</th>
        <th>Materia</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Correo Electronico</th>
    </tr>
    <tr>
        <td>@Model.Nombre</td>
        <td>@Model.Materia</td>
        <td>@Model.Edad</td>
        <td>@Model.Sexo</td>
        <td>@Model.Email</td>
        
    </tr>
</table>
</div>
    
<br><br>
<div class="text-center">
    <div class="col"><img src="~/imagenes/profesores.jpg" width="250" height="150" class="img-fluid"/></div>
</div>

<div>
    <a href="#" class="btn btn-primary">Regresar</a>
</div>